<?xml version="1.0"?>
<!--
/**
 * Mobtexting SMS Notifications powered by LINK Mobility
 *
 * Sends transactional SMS notifications through the LINK Mobility messaging
 * service.
 * 
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="sms_notifications_save_subscriptions" instance="Mobtexting\SMSNotifications\Observer\CustomerRegisterSuccessObserver"/>
    </event>
</config>