<?xml version="1.0"?>
<!--
/**
 * Mobtexting SMS Notifications powered by LINK Mobility
 *
 * Sends transactional SMS notifications through the LINK Mobility messaging
 * service.
 * 
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Mobtexting\SMSNotifications\Controller\Adminhtml\Subscription\MassCreate">
        <arguments>
            <argument name="logger" xsi:type="object">Mobtexting\SMSNotifications\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="Mobtexting\SMSNotifications\Controller\Adminhtml\Subscription\MassDelete">
        <arguments>
            <argument name="logger" xsi:type="object">Mobtexting\SMSNotifications\Logger\Logger</argument>
        </arguments>
    </type>
    <type name="Mobtexting\SMSNotifications\Model\MessageVariables\InvoiceVariables">
        <arguments>
            <argument name="urlBuilder" xsi:type="object">Magento\Framework\Url</argument>
        </arguments>
    </type>
    <type name="Mobtexting\SMSNotifications\Model\MessageVariables\OrderVariables">
        <arguments>
            <argument name="urlBuilder" xsi:type="object">Magento\Framework\Url</argument>
        </arguments>
    </type>
    <type name="Mobtexting\SMSNotifications\Model\MessageVariables\ShipmentVariables">
        <arguments>
            <argument name="urlBuilder" xsi:type="object">Magento\Framework\Url</argument>
        </arguments>
    </type>
    <type name="Mobtexting\SMSNotifications\Ui\DataProvider\SmsSubscriptions">
        <arguments>
            <argument name="backendSession" xsi:type="object">Magento\Backend\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Ui\Component\MassAction\Filter">
        <plugin name="smsTypeFilter" type="Mobtexting\SMSNotifications\Plugin\Component\MassAction\FilterPlugin"/>
    </type>
</config>